---
import MainLayout from '../layouts/main-layout.astro';
import StructuredData from '../components/structured-data.astro';
import PageBanner from '../components/page-banner.astro';

import ContactInfo from '../components/contact-box.tsx';
import ContactForm from '../components/contact-form.astro';
---

<MainLayout 
  title="Kontakt - Wytwórczo Usługowa Spółdzielnia Pracy" 
  description="Skontaktuj się z nami, aby uzyskać więcej informacji o naszych usługach tapicerskich i projektach. Jesteśmy tutaj, aby Ci pomóc!"
>

  <!-- Structured Data -->
  <StructuredData 
    pageType="contact"
  />

  <!-- Banner Section -->
  <PageBanner 
    title="Kontakt" 
    breadcrumbText="Kontakt"
  />

  <!-- Main Section -->
  <section 
    class="lg:max-w-[1200px] px-12 xl:px-0 w-full mx-auto flex flex-col gap-8 lg:gap-10"
    aria-labelledby="contact-section-title"
  >
    <div class="sr-only">
      <span id="contact-section-title">Formularz kontaktowy i informacje</span>
    </div>
    
    <div class="grid grid-cols-1 gap-[55px] pt-20 lg:grid-cols-2 place-content-center">
      <ContactInfo client:load />
      <ContactForm />
    </div>
  </section>

</MainLayout>