---
import MainLayout from '../layouts/main-layout.astro'
import QuoteText from '../components/quote.tsx'
import  Facebook  from '../icons/facebook.tsx';
import  Twitter  from '../icons/twitter.tsx';
import  LinkedIn  from '../icons/linkedin.tsx';
import Instagram  from '../icons/instagram.tsx';
import { Picture } from "astro:assets";
---

<MainLayout title = 'O nas' description = 'Sprawdź, co nas wyróżnia i dlaczego warto nam zaufać. Nasze doświadczenie to gwarancja jakości każdego zamówienia.'>
  <!-- Banner Section -->
  <section class="w-full bg-about bg-banner-size bg-center h-[50vh] flex justify-center items-end bg-no-repeat">
    <div class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white rounded-tl-[37px] rounded-tr-[37px] gap-2.5">
      <h1 class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm text-primary-200 ">O nas</h1>
      <span class="text-base lg:text-[18px] lg:leading-[33px] tracking-tight font-jost text-text-gray"> <a href="/">Strona główna</a> / O nas</span>
    </div>
  </section>

  <!-- Quote Section -->

  <section class="w-full px-12 lg:px-0 pt-[100px] lg:pt-[200px] lg:max-w-[1200px] mx-auto flex items-center justify-center">
    <QuoteText text="Nasze doświadczenie to gwarancja jakości każdego zamówienia." name="WUSP Jarocin"/>
  </section>

  <!-- What We Do Section -->

  <section class="w-full pt-[100px] lg:pt-[150px] px-12 lg:px-0 mx-auto lg:max-w-[1200px] ">
    <div class="w-full flex flex-col-reverse lg:flex-row justify-between gap-10 items-center">
      <div class="flex flex-col gap-6">
        <span class="text-[30px] text-center lg:text-left font-dm tracking-wide leading-8 md:leading-[62.50px] md:text-[50px] text-text-blue ">Czym się zajmujemy?</span>
        <p class="text-base md:text-[22px] lg:max-w-[85%] text-center lg:text-left tracking-tight font-jost text-text-gray leading-[33px]">Specjalizujemy się w szyciu pokrowców, tapicerki i wyrobów tekstylnych dla producentów mebli i branży akustycznej. Realizujemy zamówienia seryjne oraz nietypowe projekty dla firm z całej Polski.</p>
      </div>
      <div class="overflow-hidden">
        <Picture 
          formats={['avif', 'webp']}
          src="/imgs/walki-materialu.webp"
          alt="Wałki materiału do szycia pokrowców"
          width="659"
          height="377"
          class="w-full h-auto hover:scale-105 transition-transform duration-700 rounded-2xl"
          loading="lazy"
        />
      </div>
    </div>
  </section>

  <!-- The End Result Section -->

   <section class="w-full pt-[100px] lg:pt-[150px] px-12 lg:px-0 mx-auto lg:max-w-[1200px] ">
    <div class="w-full flex flex-col-reverse lg:flex-row-reverse justify-between gap-24 items-center">
      <div class="flex flex-col gap-6">
        <span class="text-[30px] text-center lg:text-left font-dm tracking-wide leading-8 md:leading-[62.50px] md:text-[50px] text-text-blue ">Efekt końcowy</span>
        <p class="text-base md:text-[22px] lg:max-w-[95%] text-center lg:text-left tracking-tight font-jost text-text-gray leading-[33px]">Dostarczamy wyroby tekstylne i tapicerskie, które spełniają najwyższe standardy jakości, terminowości i precyzji wykonania – zawsze zgodnie z oczekiwaniami naszych klientów biznesowych.</p>
      </div>
      <div class="overflow-hidden">
        <Picture 
          formats={['avif', 'webp']}
          src="/imgs/uszyte-siedzisko.webp"
          alt="Uszyte siedzisko - gotowy produkt"
          width="659"
          height="377"
          class="w-full h-auto hover:scale-105 transition-transform duration-700 rounded-2xl"
          loading="lazy"
        />
      </div>
    </div>
  </section>

    <!-- Cert -->

  <section class="w-full pt-[100px] lg:pt-[150px] px-12 lg:px-0 mx-auto lg:max-w-[1200px] ">
    <div class="w-full flex flex-col-reverse lg:flex-row justify-between gap-10 items-center">
      <div class="flex flex-col gap-6">
        <span class="text-[30px] text-center lg:text-left font-dm tracking-wide leading-8 md:leading-[62.50px] md:text-[50px] text-text-blue ">Firma z licznymi wyróżnieniami</span>
        <p class="text-base md:text-[22px] lg:max-w-[85%] text-center lg:text-left tracking-tight font-jost text-text-gray leading-[33px]">Możemy pochwalić się prestiżowymi certyfikatami „Firma Godna Zaufania". Certyfikaty te przyznawane są przedsiębiorstwom, które wyróżniają się rzetelnością, wysoką jakością usług oraz pozytywną opinią wśród klientów i partnerów biznesowych.</p>
      </div>
      <div class="overflow-hidden">
        <Picture 
          formats={['avif', 'webp']}
          src="/imgs/certyfikaty-wusp-jarocin.webp"
          alt="Certyfikaty i dyplomy WUSP Jarocin"
          width="659"
          height="377"
          class="w-full h-auto hover:scale-105 transition-transform duration-700 rounded-2xl"
          loading="lazy"
        />
      </div>
    </div>
  </section>

  <!-- What People Think About Us Section -->

  <section class="w-full py-[100px] lg:py-[185px] mt-[173px] px-12 lg:px-0 mx-auto bg-primary-300 ">
    <div class="w-full flex flex-col gap-10 lg:max-w-[1200px] mx-auto" >
		  <span class="font-dm tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[30px] lg:text-[50px] w-full lg:max-w-[50%] pb-9 mx-auto">Nasz zespół</span>
      <div class="flex w-full overflow-x-scroll gap-4 flex-row no-scrollbar">
        <img src="/person1.png" alt="">
        <img src="/person2.png" alt="">
        <div class="flex flex-col gap-10 w-full justify-between py-[70px] px-7 bg-white min-w-[284px] items-center rounded-[32px]">
          <p class="flex flex-col tracking-tight leading-9 text-center">
            <span class="text-primary-200 text-lg lg:text-[25px] font-dm">Nattasha Julie</span>
            <span class="text-text-gray-200 text-base lg:text-lg font-jost"> Design, Australia</span>
					</p>
          <div class="flex gap-6">
             <a href="/">
              <Facebook />
            </a>
            <a href="/">
              <Twitter />
            </a>
            <a href="/">
              <LinkedIn />
            </a>
            <a href="/">
              <Instagram />
            </a>
          </div>
          <p class="flex flex-col tracking-tight leading-9 text-center">
            <span class="text-text-gray-200 text-base lg:text-lg font-jost"> +1 (378) 400-1234</span>
            <span class="text-text-gray-200 text-base lg:text-lg font-jost"> julie@email.com</span>
					</p>
        </div>
        <img src="/person3.png" alt="">
      </div>
	  </div>
  </section>

</MainLayout>

<style>

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

</style>