---
import MainLayout from '../layouts/main-layout.astro'
import ImageGrid from "../components/image-grid.astro";
---

<MainLayout title='Park maszynowy' description='Park maszynowy - galeria naszych maszyn'>

  <!-- Banner Section -->
  <section class="w-full bg-services h-[50vh] flex justify-center items-end">
    <div class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white rounded-tl-[37px] rounded-tr-[37px] gap-2.5">
      <h1 class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm text-primary-200">Park maszynowy</h1>
      <span class="text-base lg:text-[18px] lg:leading-[33px] tracking-tight font-jost text-text-gray">
        <a href="/">Strona główna</a> / Park maszynowy
      </span>
    </div>
  </section>

  <!-- Gallery Section -->
  <section class="px-4 lg:px-12 xl:px-0 w-full mx-auto pt-[100px] lg:pt-[200px] max-w-[1400px] pb-[100px]">

      <ImageGrid
        columns={3}
        images={[
          {
            src: "/imgs/bociany-krawieckie-na-stole.webp",
            alt: "Bociany krawieckie na stole",
          },
          {
            src: "/imgs/bociany-krawieckie.webp",
            alt: "Bociany krawieckie",
          },
          {
            src: "/imgs/czesci-do-tapicerki-meblowej.webp",
            alt: "Części do tapicerki meblowej",
          },
          {
            src: "/imgs/dwa-bociany-krawieckie-do-ciecia-pianki.webp",
            alt: "Dwa bociany krawieckie do cięcia pianki",
          },
          {
            src: "/imgs/gotowe-uszyte-komplety.webp",
            alt: "Gotowe uszyte komplety",
          },
          {
            src: "/imgs/hala-krawiecka.webp",
            alt: "Hala krawiecka",
          }
        ]}
      />

  </section>

</MainLayout>