---
import Navbar from '../components/navbar.tsx'
import Footer from '../components/footer.tsx'

export interface LayoutProps {
  title : string 
  description?: string;
  robots?: string;
  canonicalUrl?: string;
}

const { title, description, robots, canonicalUrl } = Astro.props as LayoutProps

let canonical;
if (canonicalUrl) {
  canonical = canonicalUrl;
} else {
  canonical = new URL(Astro.url.pathname, Astro.site).toString();
}
---


<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <meta name="robots" content={robots || "index, follow"}>
    <meta name="description" content={description || ""}>  
    <link rel="canonical" href={canonical} />
  </head>
  <body>
    <main class='bg-main bg-no-repeat bg-cover bg-center'>
      <Navbar client:load/>
      <slot/>
      <Footer />
    </main>
    <p class="tracking-tight text-base text-center border border-gray-300 bg-white py-10 lg:text-[18px] text-text-gray">
        Copyright © WUSP Jarocin | Utworzone przez <a href="https://www.wojciechsmolarek.pl/">Wojciecha Smolarka</a>
    </p>
  </body>
</html>
