---
import Navbar from '../components/navbar.tsx'
import Footer from '../components/footer.tsx'

export interface LayoutProps {
  title : string 
}

const { title } = Astro.props as LayoutProps
---


<html lang="en">
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Interior Design Website Template" />  
    <title>{title}</title>
  </head>
  <body>
    <main class='bg-main bg-no-repeat bg-cover bg-center'>
      <Navbar client:load/>
      <slot/>
      <!-- All different pages to be rendered here -->
      <Footer />
    </main>
    <p class="tracking-tight text-base text-center border border-gray-300 bg-white py-10 lg:text-[22px] lg:leading-[33px] font-jost text-text-gray">
        Copyright © Interno | Designed by Onwudebelu Prisca Ebubechukwu
    </p>
  </body>
</html>


