---
import Navbar from '../components/navbar.tsx'
import Footer from '../components/footer.tsx'

export interface LayoutProps {
  title : string 
  description?: string;
  robots?: string;
}

const { title, description, robots } = Astro.props as LayoutProps
---


<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content={robots || "index, follow"}>
    <meta name="description" content={description || ""}>  
    <title>{title}</title>
  </head>
  <body>
    <main class='bg-main bg-no-repeat bg-cover bg-center'>
      <Navbar client:load/>
      <slot/>
      <Footer />
    </main>
    <p class="tracking-tight text-base text-center border border-gray-300 bg-white py-10 lg:text-[18px] text-text-gray">
        Copyright © WUSP Jarocin | Utworzone przez <a href="https://www.wojciechsmolarek.pl/">Wojciecha Smolarka</a>
    </p>
  </body>
</html>
